<div mat-dialog-title>Make External Payment</div>
<button *ngIf="!isConfirming" class="small-close-button pull-right" (click)="dialogClose()">
  <mat-icon fontSet="partIcon" fontIcon="part-circle-remove"></mat-icon>
</button>

<div mat-dialog-content class="dialog-content">
  <div class="tx-confirmation" *ngIf="!isConfirming">
    <div class="tx-info">
      <div class="public">
        <div class="title">Insufficient Funds</div>
        <p class="widget-help">
          Please fund the following address in order to place the bid.
        </p>
        <qrcode size="180" [level]="'H'" qrdata="particl:{{address}}?amount={{amount.getAmount()}}"></qrcode>
      </div>
    </div>

    <div class="tx-amount">
      <span class="big">{{ amount.getIntegerPart() }}</span>
      <span *ngIf="amount.ifDotExist()">
      <span class="point">.</span>
      <span class="small">{{ amount.getFractionalPart() }}</span>&ensp;</span>
      <span class="currency">PART</span>
    </div>

    <mat-icon class="icon arrow" fontSet="partIcon" fontIcon="part-arrow-down"></mat-icon>

    <div class="receiver-info">
      <code class="address"> {{address}} </code>
    </div>
  </div>

  <div class="tx-confirmation" *ngIf="isConfirming">
    <div class="tx-info">
      <div class="public">
        <div class="title">Confirming Transaction...</div>
        <mat-spinner class="loading-spinner"></mat-spinner>
      </div>
    </div>
  </div>
  
</div><!-- .dialog-content -->

<mat-dialog-actions fxLayoutAlign="space-between center">
  <button *ngIf="!isConfirming" mat-button mat-dialog-close (click)="dialogClose()">
    <mat-icon fontSet="partIcon" fontIcon="part-cross"></mat-icon>
    Cancel
  </button>
</mat-dialog-actions>
