<div mat-dialog-title>Make External Payment</div>
<button *ngIf="!isConfirming" class="small-close-button pull-right" (click)="dialogClose()">
  <mat-icon fontSet="partIcon" fontIcon="part-circle-remove"></mat-icon>
</button>

<div mat-dialog-content class="dialog-content">
  <div class="tx-confirmation" *ngIf="!isConfirming">
    <div class="tx-info">
      <mat-icon class="icon blue" fontSet="partIcon" fontIcon="part-circle-alert"></mat-icon>
      <div class="title">Insufficient funds</div>
      <p class="widget-help">
        You don't have enough funds in your wallet to place the bid &ndash; however you can fund this address from your other wallet (e.g. mobile) to continue
      </p>
    </div>
    
    <div class="tx-amount">
      <span class="big">{{ amount.getIntegerPart() }}</span>
      <span *ngIf="amount.ifDotExist()">
      <span class="point">.</span>
      <span class="small">{{ amount.getFractionalPart() }}</span>&ensp;</span>
      <span class="currency">PART</span>
    </div>
    
    <mat-icon class="icon arrow" fontSet="partIcon" fontIcon="part-arrow-down"></mat-icon>
    
    <div class="receiver-info">
      <qrcode size="200" [level]="'H'" qrdata="particl:{{address}}?amount={{amount.getAmount()}}"></qrcode>
      <code class="address"> {{address}} </code>
    </div>
  </div>

  <div class="tx-confirmation" *ngIf="isConfirming">
    <div class="tx-info">
      <mat-spinner class="loading-spinner" [diameter]="50"></mat-spinner>
      <div class="title">Confirming transaction</div>
      <p class="widget-help">
        Please wait while your funding transaction gets confirmed by the network
      </p>
    </div>
  </div>
  
</div><!-- .dialog-content -->

<mat-dialog-actions fxLayoutAlign="space-between center" *ngIf="!isConfirming">
  <button mat-button mat-dialog-close (click)="dialogClose()">
    <mat-icon fontSet="partIcon" fontIcon="part-cross"></mat-icon>
    Cancel bidding & Close
  </button>
</mat-dialog-actions>
