@import './src/assets/_config'; // import shared colors etc.
@import './src/app/modals/_confirmations-shared'; // shared stuff for confirmation modals

// ------ LAYOUT ------ //

.tx-info {
  .mat-icon {
    &.blue {
      color: $color-secondary;
    }
  }
}

.receiver-info {
  qrcode {
    display: inline-block;
    margin: 0 auto 12px;
  }
  .address {
    @extend %enable-select;
  }
}

.loading-spinner {
  margin: 12px auto 20px;
}
