<mat-card fxLayoutWrap fxLayoutGap="3%" class="guideline-icons">
  <h2>Theme Icons:</h2>
  <mat-card-content >
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-add-account" matTooltip="Account"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-alert" matTooltip="Alert"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-anon" matTooltip="Anon"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-arrow-down" matTooltip="Arrow-Down"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-arrow-left" matTooltip="Arrow-Left"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-arrow-right" matTooltip="Arrow-Right"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-arrow-up" matTooltip="Arrow-Up"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-attach" matTooltip="Attach"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-blind" matTooltip="Blind"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-bug" matTooltip="Bug"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-check" matTooltip="Check"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-circle-alert" matTooltip="Circle-Alert"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-circle-check" matTooltip="Circle-Check"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-circle-minus" matTooltip="Circle-Minus"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-circle-plus" matTooltip="circle-plus"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-circle-question" matTooltip="Circle-Question"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-circle-remove" matTooltip="Circle-Remove"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-clear-all" matTooltip="Clear-All"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-cog" matTooltip="Cog"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-console" matTooltip="Console"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-copy" matTooltip="Copy"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-cross" matTooltip="Cross"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-cryptocurrency-bitcoin" matTooltip="Account"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-cryptocurrency-particl" matTooltip="Account"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-currency-dollar" matTooltip="Currency-Dollar"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-currency-euro" matTooltip="Currency-Euro"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-currency-pound" matTooltip="Currency-Pound"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-currency-yen" matTooltip="Currency-Yen"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-date" matTooltip="Date"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-error" matTooltip="Error"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-globe" matTooltip="Globe"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-hamburger" matTooltip="Hamburger"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-heart" matTooltip="Heart"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-label" matTooltip="Label"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-lightning" matTooltip="Lightning"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-add-account" matTooltip="Add-Account"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-lock" matTooltip="Lock"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-lock-open" matTooltip="Lock-Open"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-minus" matTooltip="Minus"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-next-double" matTooltip="Next-Double"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-next-single" matTooltip="Next-Single"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-notification-bell" matTooltip="Notification-Bell"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-notification-speaker" matTooltip="Notification-Speaker"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-past" matTooltip="Past"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-pen-1" matTooltip="Pen-2"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-pen-2" matTooltip="Pen-2"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-people" matTooltip="People"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-person" matTooltip="Person"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-person-add" matTooltip="Person-Add"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-person-check" matTooltip="Person-Check"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-person-edit" matTooltip="Person-Edit"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-person-heart" matTooltip="Person-Heart"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-person-remove" matTooltip="Person-Remove"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-plus" matTooltip="Plus"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-previous-double" matTooltip="Previous-Double"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-previous-single" matTooltip="Previous-Single"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-qr" matTooltip="QR"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-receive" matTooltip="Receive"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-refresh" matTooltip="Refresh"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-search" matTooltip="Search"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-select" matTooltip="Select"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-send" matTooltip="Send"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-small-cross" matTooltip="Small-Cross"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-small-minus" matTooltip="Small-Minus"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-small-plus" matTooltip="Small-Plus"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-snowflake" matTooltip="Snowflake"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-stake" matTooltip="Stake"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-swap" matTooltip="Swap"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-transfer" matTooltip="Transfer"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-triangle-down" matTooltip="Triangle-Down"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-triangle-left" matTooltip="Triangle-Left"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-triangle-right" matTooltip="Triangle-Right"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-triangle-up" matTooltip="Triangle-Up"></mat-icon>

    <hr>
    <h2>Color Icon:</h2>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-heart" color="warn"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-heart" color="primary"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-heart" color="accent"></mat-icon>
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-heart" color="accent" disabled></mat-icon>

    <hr>
    <h2>Fa Icons:</h2>
    <mat-icon class="icon" fontSet="faIcon" fontIcon="fa-question-circle"></mat-icon>
    <mat-icon class="icon" fontSet="faIcon" fontIcon="fa-snowflake-o"></mat-icon>
    <mat-icon class="icon" fontSet="faIcon" fontIcon="fa-comment-o"></mat-icon>

  </mat-card-content>
</mat-card>
