<mat-tab-group class="demo-tab-group">
  <mat-tab label="Icons">
    <div class="demo-tab-content">
      <app-guideline-icons></app-guideline-icons>
    </div>
  </mat-tab>
  <mat-tab label="Forms">
    <ng-template mat-tab-label>
      Form
    </ng-template>
    <div class="demo-tab-content">
      Forms
    </div>
  </mat-tab>
  <mat-tab label="Modals">
    <app-guideline-modals></app-guideline-modals>
  </mat-tab>
  <mat-tab label="Tab 4">
    <div class="demo-tab-content">
      Tab 4
    </div>
  </mat-tab>
  <mat-tab label="Tab 5">
    Shared Component
  </mat-tab>
  <mat-tab label="Tab 6">
    Various
  </mat-tab>
</mat-tab-group>
